.formContainer {
    background: #ffffff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    height: 35%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.formContainer h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.inputContainer {
    margin-bottom: 20px;
}

.input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.error-message {
    color: #e63946;
    font-size: 12px;
    text-align: left;
    margin-top: -5px;
    margin-bottom: 10px;
    text-align: center;
}

.buttonContainer {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.formButton {
    background-color: #007bff;
    color: white;
    padding: 12px;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 180px;
    height: 100%;

}

.formButton:hover {
    background-color: #0056b3;
}

.notification {
    color: #e63946;
    font-size: 14px;
    margin-top: 10px;
}
