.tableHeader {
  overflow-x: auto;
  margin: 20px 0;
  width: 80%;
  height: auto;
  display: flex;
  
}

.tableHeader::-webkit-scrollbar {
  display: none;
}

.tableData {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  font-size: 16px;
  background-color: rgb(212, 227, 240);
}

.tableData th,
.tableData td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.tableData th {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #f4f4f4;
  font-weight: bold;
  border-bottom: 2px solid #ddd;
  text-align: left;
  padding: 8px;
}

.tableData tr:hover {
  background-color: #f9f9f9;
}